@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

.buttons {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.buttons button{
  margin: 10px;
}

.image-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00000000;
  padding: 20px;
  border-radius: 15px;
}

.image-container .selected img {
  width: 100%;
  cursor: pointer;
}

.image-container .others {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  max-width: 600px;
  gap: 7px;
  margin: 7px 7px;
}

.image-container .others img {
  width: 100px;
  flex: 0 0 auto;
  cursor: pointer;
}

.image-container .others::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.image-container .others .opacity-img {
  opacity: 0.5;
}

.scrolls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.scroll-button {
  background-color: rgb(0, 0, 0);
  /* Semi-transparent background */
  padding: 7px;
  margin: 7px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.table-container {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

}

table th,
table td {
  padding: 20px;
  font-size: 1.2em;
}

table th {
  font-weight: 500;
}
