<app-header></app-header>
<div class="full-screen-video-container">
  <video [autoplay]="true" [loop]="true" [muted]="true">
    <source src="../../../assets/905049-hd_1920_1080_30fps.mp4" type="video/mp4" />
  </video>
  <div class="full-screen-video-content">
 <h1>  
<img src="../../../assets/logo.png" alt="logo" width="350" height="350">
</h1> 
    <h1>VAssist</h1>
    <p>Think, create & execute ingeniously.</p>
    <p>A place where individuals can find exactly what they want.</p>
    <button routerLink="/product/question-ask">Discover</button>
  </div>
</div>

<div class="container">
  <div class="section1">
    <div class="row">
      <div class="col desc">
        <h1 data-aos="fade-up">iPhone 15</h1>
        <p data-aos="fade-up">Peerless iPhone, Premium Precision</p>
        <a href="https://www.apple.com/tn/iphone-15-pro/" data-aos="fade-up">See more ></a>
      </div>
      <div class="col">
        <img src="../../../assets/section1.jpg" data-aos="fade-up">
      </div>
    </div>
  </div>
  
  <div class="section2">
    <h1 data-aos="fade-up">MacBook Air</h1>
    <p data-aos="fade-up">Lightweight Innovation, Powerful Performance</p>
    <a href="https://www.apple.com/tn/macbook-air/" data-aos="fade-up">See more ></a>
    <img src="../../../assets/Mac_book-removebg-preview.png" alt="" data-aos="fade-left">
  </div>
  
  <div class="section3">
    <div class="row">
      <div class="col">
        <h1 data-aos="fade-up">iPad</h1>
        <p data-aos="fade-up">        iPad Excellence, Limitless Possibilities
        </p>
        <a href="https://www.apple.com/tn/ipad-10.9/" data-aos="fade-up">See more ></a>
        <img src="https://images.pexels.com/photos/1334597/pexels-photo-1334597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" data-aos="fade-left">
      </div>
      <div class="col">
        <h1 data-aos="fade-up">MacBook Pro</h1>
        <p data-aos="fade-up">Ultimate Performance</p>
        <a href="https://www.apple.com/tn/macbook-pro/" data-aos="fade-up">See more ></a>
        <img src="https://images.pexels.com/photos/205421/pexels-photo-205421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style="width: 100%;" data-aos="fade-left">
      </div>
    </div>
  </div>  
</div>