<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: black" text-align:=left;>
    <hr>
    <div class="footer-content">
      <nav class="footer-menu">
        <div class="footer-col">
          <div class="item">
            <input type="checkbox" id="products">
            <div class="col-section">
              <label for="products">
              <h3>Shop and learn</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://www.apple.com/fr/mac/">Mac</a></li>
                <li><a href="https://www.apple.com/fr/ipad/">iPad</a></li>
                <li><a href="https://www.apple.com/fr/iphone/">iPhone</a></li>
                <li><a href="https://www.apple.com/fr/watch/">Watch</a></li>
                <li><a href="https://www.apple.com/fr/">TV</a></li>
                <li><a href="https://music.apple.com/us/browse">Music</a></li>
                <li><a href="https://www.apple.com/fr/itunes/">iTunes</a></li>
                <li><a href="https://www.apple.com/fr/homepod/">HomePod</a></li>
                <li><a href="https://www.apple.com/xf/shop/product/FKHT2VC/A/ipod-touch-de-32-go-6e-g%C3%A9n%C3%A9ration-remis-%C3%A0-neuf-or">iPod touch</a></li>
                <li><a href="https://www.apple.com/fr/shop/accessories/all">Accessories</a></li>
                <li><a href="https://www.apple.com/fr/shop/gift-cards">Gift Cards</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="footer-col">
          <div class="item">
            <input type="checkbox" id="store">
            <div class="col-section">
              <label for="store">
              <h3>Apple Store</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://www.apple.com/uk/retail/">Find a Store</a></li>
                <li><a href="https://www.apple.com/uk/retail/geniusbar/">Genius Bar</a></li>
                <li><a href="https://www.apple.com/uk/today/">Today at Apple</a></li>
                <li><a href="https://www.apple.com/uk/today/camp/">Apple Camp</a></li>
                <li><a href="https://apps.apple.com/us/app/field-trip-psychedelic-guide/id1520623904">Field Trip</a></li>
                <li><a href="https://apps.apple.com/gb/app/apple-store/id375380948">Apple Store App</a></li>
                <li><a href="https://www.apple.com/uk/shop/refurbished">Refurbished and Clearance</a></li>
                <li><a href="https://www.apple.com/uk/shop/browse/financing">Financing</a></li>
                <li><a href="https://www.apple.com/uk/environment/">Reuse and Recycling</a></li>
                <li><a href="https://www.apple.com/uk/shop/goto/order/list">Order Status</a></li>
                <li><a href="https://www.apple.com/uk/shop/help">Shopping Help</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-col">
          <div class="item">
            <input type="checkbox" id="education">
            <div class="col-section">
              <label for="education">
              <h3>For Education</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://www.apple.com/uk/education/">Apple and Education</a></li>
                <li><a href="https://www.apple.com/uk/shop/goto/educationrouting">Shop for College</a></li>
              </ul>
            </div>
          </div>
          <div class="item item-padding-top">
            <input type="checkbox" id="business">
            <div class="col-section">
              <label for="business">
              <h3>For Business</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://www.apple.com/uk/business/">Apple and Business</a></li>
                <li><a href="https://www.apple.com/uk/retail/business/">Shop for Business</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="footer-col">
          <div class="item">
            <input type="checkbox" id="acccount">
            <div class="col-section">
              <label for="acccount">
              <h3>Account</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://appleid.apple.com/uk/">Manage Your Apple ID</a></li>
                <li><a href="https://www.apple.com/uk/shop/goto/account">Apple Store Account</a></li>
                <li><a href="https://www.icloud.com/">iCloud.com</a></li>
              </ul>
            </div>
          </div>
          <div class="item item-padding-top">
            <input type="checkbox" id="values">
            <div class="col-section">
              <label for="values">
              <h3>Apple Values</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://www.apple.com/uk/accessibility/">Accessibility</a></li>
                <li><a href="https://www.apple.com/uk/education-initiative/">Education</a></li>
                <li><a href="https://www.apple.com/uk/environment/">Environment</a></li>
                <li><a href="https://www.apple.com/diversity/">Inclusion and Diversity</a></li>
                <li><a href="https://www.apple.com/uk/privacy/">Privacy</a></li>
                <li><a href="https://www.apple.com/uk/supply-chain/">Supplier Responsibility</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="footer-col">
          <div class="item">
            <input type="checkbox" id="about">
            <div class="col-section">
              <label for="about">
              <h3>About Apple</h3>  
            </label>
              <ul class="product-list">
                <li><a href="https://www.apple.com/uk/newsroom/">Newsroom</a></li>
                <li><a href="https://www.apple.com/uk/leadership/">Apple Leadership</a></li>
                <li><a href="https://www.apple.com/careers/uk/">Job Opportunities</a></li>
                <li><a href="https://investor.apple.com/investor-relations/default.aspx">Investors</a></li>
                <li><a href="https://www.apple.com/uk/apple-events/">Events</a></li>
                <li><a href="https://www.apple.com/uk/contact/">Contact Apple</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <section class="footer-base">
        <div class="footer-more-ways" x-ms-format-detection="none">
        More ways to shop: Visit an <a href="https://www.apple.com/tn/">Apple Store</a>, <span class="nowrap">call 0800 048 0408., or <a href="https://www.istore.com.tn/">find a reseller</a></span>.
      </div>
        <div class="footer-legal">
          <div class="footer-legal-copyright">Copyright © 2024 Apple Inc. All rights reserved.</div>
          <div class="footer-legal-links">
            <a href="https://www.apple.com/uk/legal/privacy/">Privacy Policy</a>
            <a href="https://www.apple.com/uk/legal/internet-services/terms/site.html">Terms of Use</a>
            <a href="https://www.apple.com/uk/shop/browse/open/salespolicies">Sales and Refunds</a>
            <a href="https://www.apple.com/uk/legal/">Legal</a>
            <a href="https://www.apple.com/uk/sitemap/">Site Map</a>
          </div>
        </div>
      </section>
        </div>
  </footer>
  <!-- Footer -->
</section>
