<div class="screen">
  <div class="content">
    <strong>You want to login? <a class="card-link" style="cursor: pointer;color:blue;" routerLink="/auth/login">Click
        here!</a></strong><br>

    <div class="alert alert-danger" *ngIf="errMessage">{{ errMessage }}</div>

    <form [formGroup]="EmailForm" (ngSubmit)="submitEmailForm()" *ngIf="showEmailForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" required>
        <mat-error *ngIf="EmailForm.get('email')!.hasError('required')">Email is required</mat-error>
      </mat-form-field>
      <button mat-raised-button *ngIf="!hideButton">Send token</button>
      <div class="spinner-border text-dark" *ngIf="showSpinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </form>

    <form [formGroup]="verifyForm" (ngSubmit)="submitVerifyForm()" *ngIf="showVerifyForm">
      <mat-form-field appearance="fill">
        <mat-label>Rest Token</mat-label>
        <input matInput type="text" formControlName="token" required>
        <mat-error *ngIf="verifyForm.get('token')!.hasError('required')">Rest token is required</mat-error>
      </mat-form-field>
      <button mat-raised-button *ngIf="!hideButton">Verify</button>
      <div class="spinner-border text-dark" *ngIf="showSpinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </form>
    <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()" *ngIf="showResetForm">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="resetForm.get('password')!.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
        <mat-error *ngIf="resetForm.get('confirmPassword')!.hasError('required')">required</mat-error>
      </mat-form-field>
      <button mat-raised-button *ngIf="!hideButton">Rest</button>
      <div class="spinner-border text-dark" *ngIf="showSpinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </form>
  </div>

</div>
