.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  width: 300px;
  background-color: rgb(197, 197, 197);
  padding: 20px;
  border-radius: 13px;
}



mat-form-field {
  width: 100%;
}

