.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
    background-color: rgba(22, 22, 23, 0.8);
    max-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
}

mat-sidenav{
    background-color: rgba(22, 22, 23, 0.8);
    width: 250px;
}

img{
  width: 60px;
  border-radius: 50%;
}
