.container{
  margin-top: 60px;
}
body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
}

.profile-button {
  background: white;
  color: black;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}


.back:hover {
  color: black;
  background-color: white;
  cursor: pointer
}

.labels {
  font-size: 1.2em;
  margin-top: 20px;
  padding: 5px 0;
}

.add-experience:hover {
  background:white;
  color: black;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.content{
  background-color: rgb(22,22,23);
  color: white;
}

.form-control{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.form-control::placeholder{
  color: white;
}

